{
  "extends": ["@staccx", "prettier"],
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-console": "warn",
        "no-unused-vars": "warn"
      },
      "globals": {
        "describe": true,
        "test": true,
        "it": true,
        "expect": true,
        "cy": true,
        "Cypress": true,
        "context": true
      }
    },
    {
      "files": [
        "**/__tests__/**/*.[jt]s",
        "**/?(*.)+(spec|test).[jt]s"
      ],
      "extends": ["plugin:testing-library/react"]
    }
  ]
}
